#choice-set-prompt {
    section.window-content {
        h3 {
            margin: auto;
        }

        button, select {
            display: block;
            margin: 4px auto;
            max-width: 80%;
        }
    }
}
